@font-face {
    font-family: open-sans-r;
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: open-sans-b;
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
    font-weight: 600;
    font-style: bold;
}

body {
    font-family: open-sans-r, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    margin: 0;
}

ul,
li,
a {
    list-style-type: none;
    text-decoration: none;
}

/* HEADER */

.header-wrapper {
    max-width: 1200px;
    margin: auto;
}

.header {
    padding: 28px 248px 0;
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-position-y: -2px;
    background-size: cover;
    background-color: #000000;
    position: relative;
    z-index: 0;
    margin-bottom: 50px;
}

.header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}

.menu {
    width: 100%;
    max-width: 1183px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.header-logo {
    margin: 0;
}

.hamburger-menu {
    display: none;
}

.header-menu {
    margin: 0 -18px 2px 0;
    box-sizing: border-box;
}

.menu-list {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
}

.menu-list-item{
    margin: 0 15px;
    padding: 0;
}

.menu-list-item>a:hover,
.menu-list-item>a:focus {
    text-decoration: underline;
}

.menu-list-item:not(:first-child) {
    margin-left: 20px;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
}

.welcome-title {
    font-family: open-sans-b, sans-serif;
    font-size: 45px;
    line-height: 1.7;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    max-width: 700px;
    margin: -25px auto;
    padding: 125px 0;
}

/* PAGE */

.page-trends {
    /* width: 1660px; */
    margin: auto;
}

.caption-line {
    display: flex;
    font-family: open-sans-b, sans-serif;
    justify-content: center;
    align-items: center;
}

.trend-title {
    font-size: 1.25em;
    font-weight: bold;
    text-transform: uppercase;
    color: #0f0d0e;
    margin: 33px 0 0;
}

.trend-title::after {
    content: "";
    display: block;
    height: 3px;
    background: #b59f5b;
    width: 66px;
    margin: 11px auto 0;
}

.trend-container {
    display: flex;
    margin: 27px 0 0 0;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4px;
}

.trend-content {
    display: flex;
    align-items: flex-end;
    width: calc(100% / 4 - 3px);
    height: 319px;
    position: relative;
}

.trend-content::before {
    content: "";
    display: block;
    background-color: #000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    opacity: 0.6;
    z-index: 1;
}

.picture1 {
    background-image: url(../img/trend1.jpg);
    background-color: grey;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.picture2 {
    background-image: url(../img/trend2.jpg);
    background-color: grey;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.picture3 {
    background-image: url(../img/trend3.jpg);
    background-color: grey;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.picture4 {
    background-image: url(../img/trend4.jpg);
    background-color: grey;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.title-content {
    line-height: 0;
    font-size: 19px;
    border: 3px solid #b59f5b;
    margin: 0 20px 15px 20px;
    padding: 30px 20px 10px 30px;
    z-index: 2;
}

.trend-teg {
    display: flex;
    flex-direction: row;
    margin: -7px 0 29px 6px;
}

.gallery-text {
    font-family: open-sans-b, sans-serif;
    font-size: 20px;
    line-height: 1.2;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.page {
    max-width: 1200px;
    margin: 64px auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.main-page {
    padding: 0 15px;
}

.news:not(:first-child) {
    margin-top: 60px;
}

.news-img {
    display: block;
    position: relative;
    width: 380px;
    height: 294px;
    text-align: center;
}

.teg {
    list-style: none;
    padding: 0;
    display: flex;
}

.news-teg-item {
    list-style-type: none;
    line-height: 1;
    margin-right: 20px;

}

.trend-teg-item {
    list-style-type: none;
    margin: 18px 17px -12px 0;
    line-height: 0;
}

.teg-link {
    list-style-type: none;
    text-decoration: none;
    font-family: open-sans-b, sans-serif;
    text-transform: uppercase;
    color: #b59f5b;
    font-size: 14px;
}

.teg-link:hover,
.teg-link:focus {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: #0f0d0e;
}

.news-name {
    font-family: open-sans-b, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.2;
    margin: 7px 0;
    padding-right: 95px;
    letter-spacing: .15px;
}

.news-name>a:hover,
.news-name>a:focus {
    color: #b59f5b;
}

.news-text-meta .date {
    color: #888888;
    font-size: 12px;
    margin-right: 12px;
}

.news-text-meta {
    margin-top: 22px;
    display: inline-flex;
}

.author {
    font-family: open-sans-b, sans-serif;
    color: #000000;
    font-size: 12px;
}

.about {
    margin-top: 47px;
    padding-right: 105px;
}

.about-text {
    font-size: 15px;
    line-height: 1.5;
    margin: 8px 0;
}

.news-text {
    padding-left: 30px;
    width: 470px;
}

/* ASIDE */

.news,
.new {
    display: flex;
}

.new-img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.new-name {
    font-family: open-sans-b, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.3;
    margin: 3px 0 0;
}

.new-name>a:hover,
.new-name>a:focus {
    color: #b59f5b;
}

.aside-top {
    text-align: center;
    font-family: open-sans-b, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}

.new-top {
    margin: -3px 0 30px -5px;
}

.aside-top::after {
    content: "";
    display: block;
    height: 3px;
    background: #b59f5b;
    width: 66px;
    margin: 10px auto 0;
}

.new-text a {
    text-decoration: none;
    color: #000000;
    
}

.new-text .date {
    font-size: 12px;
    color: #000000;
    opacity: 0.54;
    margin-top: -3px;
    display: block;
}

.new-text {
    padding: 0 10px 0 17px;
}

.new {
    margin: 0 0 22px;
    padding: 0 5px;
}

/* SEARCH */

.search {
    display: flex;
    width: 100%;
    margin-top: 60px;
    margin-left: 5px;
    margin-bottom: 0;
}

.hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.search-button {
    border: none;
    width: 47px;
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
    background-color: #b59f5b;
}

.search-button:hover,
.search-button:focus {
    background-color: #000;
}

.search-field {
    box-sizing: border-box;
    padding-left: 16px;
    width: 222px;
    height: 47px;
    font-size: 13px;
    border: 2px solid transparent;
    background-color: #f4f7f6;
}

.search-field:focus {
    outline: none;
    border: 2px solid #b59f5b;
}

/* MAILING */

.subscribe {
    margin-top: 62px;
    margin-right: 16px;
    margin-left: 5px;
}

.mailing {
    margin: -3px 5px 30px 0;

}

.mailing-button {
    margin-top: 19px;
    height: 48px;
    border: none;
    width: 100%;
    background-color: #b59f5b;
    font-family: open-sans-b, sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
}

.mailing-button:hover,
.mailing-button:focus {
    background-color: #000;
}

.mailing-field {
    box-sizing: border-box;
    padding-left: 18px;
    margin-top: -7px;
    width: 100%;
    height: 48px;
    font-size: 13px;
    border: 2px solid transparent;
    background-color: #f4f7f6;
}

.mailing-field:focus {
    outline: none;
    border: 2px solid #b59f5b;
}

/* TEGS */

.aside-tegs {
    margin-top: 57px;
    margin-right: 10px;

}

.list-tegs {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.list-tegs-link {
    height: 29px;
    align-items: center;
    align-content: space-between;
    text-decoration: none;
    font-family: open-sans-b, sans-serif;
    text-transform: uppercase;
    color: #0f0d0e;
    font-size: 12px;
    border: 2px solid transparent;
    padding: 7px 11px;
}

.list-tegs-link:hover,
.list-tegs-link:focus {
    outline: none;
    border: 2px solid #b59f5b;
}

.list-tegs-item {
    font-size: 12px;
    margin: 19px 10px 2px 5px;
    /* margin-top: 26px;
    margin-left: 3px;
    margin-right: 3px; */
}

/* THEMES */

.aside-theme {
    margin: 64px 7px 24px 0;

}

.list-theme {
    list-style: none;
}

.list-theme-link {
    align-items: center;
    align-content: space-between;
    text-decoration: none;
    font-family: open-sans-b, sans-serif;
    color: #000000;
    font-size: 14px;
    padding: 0 5px 0 0;
}

.list-theme-link:hover,
.list-theme-link:focus {
    color: #b59f5b;
}

.list-theme-item {
    margin-top: 13px;
    margin-left: 3px;
}

.list-theme-item::after {
    content: "";
    display: block;
    position: relative;
    margin-top: 14px;
    width: 100%;
    height: 1px;
    background: #eeeeee;
}

.list-theme-count {
    display: inline-block;
    vertical-align: top;
    color: #b59f5b;
    font-family: open-sans-b, sans-serif;
    font-size: 12px;
}

/* PRODUCTS */

.products {
    width: 1200px;
    margin: 0 auto;
}

.product-title-text {
    margin-top: -3px;
    font-family: open-sans-b, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #0f0d0e;
}

.product-title-text::after {
    content: "";
    display: block;
    height: 3px;
    background: #b59f5b;
    width: 66px;
    margin: 9px auto 0;
}

.product {
    margin-top: 13px;
    display: flex;
    justify-content: space-between;
}


.product-content {
    width: calc(33.33% - 55px);
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.product-title {
    flex-grow: 1;
    margin-top: -35px;
    border: 3px solid #b59f5b;
}

.subtitle {
    display: flex;
    font-size: 20px;
    font-family: open-sans-b, sans-serif;
    text-transform: uppercase;
    color: #0f0d0e;
    margin: 50px 0px 18px 19px;
}

.subtitle:hover {
    color: #b59f5b;
}

.product-description {
    flex-grow: 1;
    font-family: open-sans-r, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: -16px 19px 0;
}

.product-text {
    font-family: open-sans-r, sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: #b59f5b;
}

.product-text:hover {
    color: #888888;
}

.product-footer {
    justify-content: space-between;
    display: flex;
    align-items: flex-end;
    margin: 20px 20px 25px;
}

.product-prices {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 5px;

}

.prices {
    display: flex;
    flex-direction: column;
}

.product-price {
    font-family: open-sans-b;
    font-weight: bold;
    font-size: 20px;
    vertical-align: middle;
}

.product-price-old {
    text-decoration: line-through;
    font-family: open-sans-b, sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin: 8px 0 -6px;
}

.product-price-new {
    margin: 2px 0 -2px;

}

.product-button {
    margin: 0;
    width: 139px;
    height: 49px;
    font-size: 0.875em;
    font-weight: bold;
    color: #fff;
    background-color: #b59f5b;
    border: none;
    font-family: open-sans-b, sans-serif;
    cursor: pointer;
    text-transform: uppercase;
}

.product-button:hover {
    background-color: #000;
}

/* FOOTER */

.footer {
    width: 100%;
    margin-top: 69px;
}

.footer-address {
    background-color: #f4f7f6;
    margin: 0 15px 38px;
    padding: 0;
}

.footer-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer-wrapper {
    width: 1200px;
    margin: -3px auto 0;
    padding: 0;
}

/* SOCIAL */

ul,
li {
    margin: 0;
    padding: 0;
}

.social {
    margin: 32px 11px 32px 15px;
}

.social-icon {
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    margin: 0; 
    padding: 0;  
}

.social-icon_dribbble {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg);
}

.social-icon_pinterest {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg);
}

.social-icon_tumblr {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
}

/* COPYRIGHT */

.copyright {
    text-decoration: none;
    color: #999999;
    font-family: open-sans-b, sans-serif;
    font-size: 12px;
    text-align: center;
    margin: 60px;
}

/* POPUP */

.popup-hidden {
    display: none;
}

.popup-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    justify-content: center;
    align-items: center;
}
  
.popup {
    color: #fff;
    width: 100%;
    max-width: 390px;
    padding: 0px 30px;
    position: absolute;
    top: 24%;
    left: 37%;
    margin-left: -4px;
    margin-top: 3px;
    text-align: center
}
  
.popup-content {
    width: 330px;
    height: 527px;
    border: 1px solid #000000;
    padding: 30px 30px;
    background-color: #ffffff;
    margin-top: 0;
    position: relative;
    margin-left: -5px;
}
  
.popup-close {

    position: absolute;
    right: -3px;
    top: -30px;
    cursor: pointer;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}
  
.popup-svg {
    width: 20px;
    height: 20px;
  }
  
.popup-title {
    font-size: 20px;
    font-weight: bold;
    font-family: open-sans-b, sans-serif;
    text-transform: uppercase;
    color: #0f0d0e;
    text-align: center;
}
  
.popup-title:after {
    content: "";
    display: block;
    height: 3px;
    background: #b59f5b;
    width: 66px;
    margin: 10px auto 0;
}
  
.form {
    margin-top: 25px;
}
  
.form-hint {
    display: block;
    text-align: left;
    margin-bottom: -4px;
    font-size: 13px;
    font-family: open-sans-r, sans-serif;
    font-weight: 400;
    color: #0f0d0e;
    margin-left: 0;
    margin-top: 27px;
    margin-right: 10px;
}
  
.select {
    display: inline-block;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    background-color: #f3f7f6;
    margin-bottom: 4px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 400;
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    margin-top: 10px;
}
  
.select:focus {
    border: 2px solid #b59f5b;
}
  
.form-arrows {
    width: 10px;
    height: 15px;
    position: absolute;
    z-index: 5;
    margin-top: 30px;
    margin-left: -23px;
}

.checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}
  
.checkbox-text {
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #0f0d0e;
    margin-bottom: 10px;
}
  
.radio-box {
    display: flex;
    margin: 0;
}
  
.checkbox-group {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 14px -10px -4px -6px;
}
  
.checkbox-group:nth-child(2n) {
    margin-left: 20px;
}
  
.radio-svg {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-bottom: 8px;
}
  
.checkbox:checked+.empty {
    background-image: url(../svg/form-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 0.9375em;
}
  
.checkbox:checked+.checked {
    background-image: url(../svg/form-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 0.9375em;
}
  
.textarea {
    width: 93%;
    height: 110px;
    background-color: #f3f7f6;
    padding-left: 20px;
    padding-top: 19px;
    font-size: 14px;
    font-weight: 400;
    resize: none;
    outline: none;
    overflow: auto;
    border: none;
    cursor: pointer;
    margin: 13px 0 -5px 0;
}
  
.button-form {
    display: block;
    margin-top: 31px;
    background-color: #b59f5b;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 1em;
    color: #ffffff;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
  
.button-form:hover {
    background-color: #000000;
}


/* TABLET */

@media (min-width: 640px) and (max-width: 1200px) {
    .header {
        background-image: url(../img/banner-bg-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
        padding: 0;
        margin: 0;
        position: relative;
    }

    .menu {
        display: flex;
        justify-content: space-evenly;
    }

    .logo {

        position: absolute;
        top: 9%;
        left: 4%;
        width: 156px;
        height: 46px;
        
    }

    .header-menu {
        display: none;
    }

    .hamburger-menu {
        display: block;
        position: absolute;
        top: 12%;
        right: 4%;
    }

    .hamburgers {
        width: 30px;
        height: 30px;
    }

    .welcome-title {
        font-size: 40px;
        line-height: 1.4;
        margin-top: 56px;
        padding: 112px 60px;
    }

    .full-page {
        width: 100%;
    }

    .page {
        width: calc(100% - 60px);
        margin: 50px 35px; 
    }

    .page-trends {
        width: 100%;
    }
    
    .caption-line {
        margin-bottom: -8px;
    
    }

    .trend-title {
        font-size: 18px;
        margin-top: 69px;
        line-height: 1.3;
    }

    .trend-title::after {
        margin: 9px auto 0;
    
    }

    .trend-container {
        display: flex;
        flex-wrap: wrap;
    }

    .news {
        width: 100%;
        margin: 0;
        flex-direction: column;
    }

    .trend-content {
        width: calc(100% / 2 - 2px);
        height: 247px;
    }

    .title-content {
        margin: 0 20px 15px;
        padding: 30px 45px 10px 30px;
    
    }

    .trend-teg-link {
        font-size: 14px;
        margin-right: 7px;
        margin-left: -5px;
    }

    .gallery-text {
        font-size: 17px;
        line-height: 1.2;
    }


    .main-page {
        width: 390px;
        padding: 0;
    }

    .news-img {
        width: 391px;
        height: 303px;   
    }

    .news-discription {
        width: 391px;
    }

    .news-text {
        margin: 14px 0;
        padding: 0;
        width: 400px;
        font-size: 17px;
        line-height: 2.2;
    }

    .news-text-meta {
        margin-top: 17px;
        margin-left: -2px;
        
    }

    .about {
        font-size: 15px;
        width: 100%;
        margin: 18px 0;
        padding: 0;
    }

    .about-text {
        width: 391px;
        
    }

    .news::after {
        content: "";
        display: block;
        position: relative;
        width: 100%;
        height: 3px;
        background: #eeeeee;
        margin-bottom: 42px;
        margin-top: -15px;
    }

    .news:not(:first-child) {
        margin-top: 0;
    }

    .news-name {
        width: 395px;
        margin: 10px 0;
        line-height: 1.1;
        letter-spacing: 0;
    }

    .news-teg {
        font-family: open-sans-r, sans-serif;
        font-size: 10px;
        line-height: 1.4;
        margin-bottom: 0;
    }

    .news-link {
        width: 390px;
        font-family: open-sans-b, sans-serif;
        font-size: 17px;
    }

    .teg-link {
        font-size: 14px;
    }

    .products {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .aside {
        margin-right: 0;
        width: 300px;
    }

    .aside-top {
        font-size: 14px;
        margin: -3px 15px 30px 30px;
    }
    
    .aside-item {
        width: 100%;
    }
    
    .new {
        margin: 0 5px 22px 18px;
        padding: 0;
    }
    
    .new-text {
        padding-right: 5px;
        padding-left: 20px;
    }

    .search {
        margin-top: 60px;
        margin-left: 20px;
    }

    .mailing {
        margin: -3px 6px 30px 0;
    }

    .mailing-form {
        margin: 0 17px 60px 14px;    
    }

    .list-tegs-item {
        margin: 3px -9px 18px 22px;
    }

    .aside-theme {
        margin: 49px 0 0 12px;
    }

    .list-theme {
        margin: 23px 0 0 16px;
    }

    .product-title-text {
        font-size: 18px;
        margin: -70px 0 0 0;
    }

    .product {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: auto;
        width: calc(100% - (70px * 2));
        gap: 0 30px;
    }

    .product-content {
        width: calc(50% - 55px);
        margin: 21px 5px 5px 3px;
        flex-grow: 0;
    }

    .product-img {
        margin-bottom: 0;
    }

    .product-title {
        width: 333px;
        margin-top: -40px;
    }

    .subtitle {
        margin: 50px 0px 46px 20px;
        font-size: 17px;
    }

    .product-description {
        margin: -43px 16px 0 20px;
    }

    .picture {
        width: 392px;
    }

    .product-price-old {
        margin: 0 0 -5px 0;
    }

    .product-footer {
        margin-bottom: 30px;
    }

    .footer {
        width: 100%;
        margin: 0;
    }

    .footer-wrapper {
        width: calc(100% - 40px);
        margin-top: 40px;
        margin-left: 20px;
        padding: 0;
        margin: 44px 20px;
    }

    .footer-address {
        margin-bottom: 17px;
    }

    .footer-list {
        margin: 0;
    }

    .social {
        margin: 32px 11px 30px 16px;

    }
    .social-icon_dribbble {
        background-image: url(../svg/001-dribbble.svg);
    }

    .social-icon_pinterest {
        background-image: url(../svg/001-pinterest.svg);
    }

    .social-icon_tumblr {
        background-image: url(../svg/003-tumblr.svg);
    }

    .popup {
        top: 23%;
        left: 21%;
        margin-left: 3px;
        margin-top: 6px;
    }

    .popup-title {
        font-size: 18px;
        margin-top: 20px;
    }

    .popup-content {
        width: 329px;
        height: 536px;
    }

    .popup-close {
        right: 2px;
        top: -36px;
    }

    .popup-svg {
        width: 25px;
        height: 25px;
    }

    .form-arrows {
        margin-top: 30px;
        margin-left: -25px;
    }

    .form-hint {
        margin: 27px 0 -4px -2px;
        padding-right: 10px;
    }

    .radio-box {
        margin-bottom: -6px;
    }

    .checkbox-group {
        margin: 15px 7px 0 -9px;
    }

    .checkbox:checked + .checked {
        background-size: 25px;
    }

    .radio-svg {
        width: 25px;
        height: 25px;
    }
}

/* MOBILE */

@media (max-width: 640px) {
    .header {
        background-image: url(../img/banner-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-color: #000000;
        width: 100%;
        padding: 0;
        margin: 0;
        height: 640px;
        position: relative;
    }
  
    .menu {
        justify-content: flex-end;
        width: 100%;
    }
    
    .header-menu {
        display: none;
    }

    .hamburger-menu {
        display: block;
        margin: 26px 13px;
  
    }
  
    .logo {
        position: absolute;
        top: 41%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 269px;
        height: 61px;
    }
  
    .welcome-title {
        position: absolute;
        font-size: 26px;
        width: 320px;
        line-height: 1.4;
        top: 62.5%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .full-page {
        display: flex;
        flex-direction: column;
    }

    .page-trends {
        width: 100%;
    }
  
    .trend-title {
        font-size: 16px;
    }

    .trend-title::after {
        margin: 9px auto 0;
    }

    .caption-line {
        margin-top: 7px;
        width: 100%;
    }

    .trend-container {
      width: 100%;
      margin-top: 24px;
    }
  
    .title-content {
        margin: 15px;
        padding: 11px 15px 16px 15px;
        width: calc(100% - 30px);
    }
    
    .trend-teg {
        margin: 13px 0 0 6px;
        
    }

    .trend-teg-item {
        margin: 0 18px 4px 0;
        line-height: 1.4;
    }

    .trend-content {
        height: 231px;
        width: 100%;
    }

    .gallery-texts {
        margin: 0 10px 15px 3px;    
    }
    
    .gallery-text {
        font-size: 16px;
        margin: 0;
    }

    .page {
        width: calc(100% - 30px);
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
  
    .main-page {
        width: 100%;
        margin: 0;
        padding: 0;
    }
  
    .news {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }   
  
    .news::after {
        content: "";
        display: block;
        position: relative;
        width: 100%;
        height: 3px;
        background: #eeeeee;
        margin: 8px 0 0 15px;
    }

    .news:not(:first-child) {
        margin-top: 35px;
    }

    .news-name {
        width: 340px;;
        padding: 0;
        line-height: 1.1;
        letter-spacing: 0;
    }

    .news-link {
        font-size: 16px;
    }

    .news-text {
        width: 100%;
        margin: 6px 0;
        padding-left: 14px;
    }

    .news-text-meta {
        margin-top: 11px;
    }
    
    .news-img {
        width: 329px;
        margin: 0px 0 5px 15px;
        padding: 0;
        height: 254px;
    }

    .header-main {
      font-size: 20px;
      line-height: 1.25;
    }

    .about {
        width: calc(100% - (15px * 2));
        padding: 0;
        margin-top: 14px;
    }
    
    .about-text {
        width: 325px;
        font-family: open-sans-r, sans-serif;
        font-size: 14px;
        line-height: 1.4;
    }

    .aside {
        width: 100%;
    
    }

    .aside-top {
        display: flex;
        flex-direction: column;
        font-size: 16px;
    }

    .aside-top::after {
        margin: 10px 0 0px 117px;
    }


    .aside-tegs {
        margin: 40px 0 0 28px;
    }

    .new {
        margin: 28px 0 -6px 15px;
        padding: 0;
        width: 330px;
    }

    .new-posts {
        margin: 0;
    }

    .new-top {
        margin: 38px 0 0 30px;
    }

    .new-img {
        margin: 0;
    }

    .new-name {
        font-size: 14px;
        margin: 0;
        line-height: 1.3;
        letter-spacing: 0.1px;
    } 

    .new-text .date {
        margin: -3px 0 3px;
        padding: 0;
    }

    .new-text {
        padding: 1px 0px 0 18px;
    }

    .search {
        margin-top: 67px;
        margin-left: 15px;
    }

    .search-field {
        width: 283px;
        padding-left: 15px;
    }

    .search-button {
        width: 47px;
        height: 47px;
        display: flex;
        justify-content: center;
        background: #b59f5b;
        background-image: url(../svg/search.svg);
        box-sizing: border-box;
        background-size: 40%;
        background-repeat: no-repeat;
        background-position: center;
        float: right;
        border: none;
    }

    .mailing {
        margin: 0;
    }

    .subscribe {
        margin-top: 41px;
        margin-right: 0px;
        margin-left: 28px;
    }

    .mailing-field {
        margin: 22px 0 0 -13px;
        padding: 0 0 0 15px;
        width: 330px;
    }

    .mailing-button {
        margin: 19px 0 0px -14px;
        padding: 0;
        width: 330px;
    }
  
    .tegs {
        width: 331px;
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
    }

    .list-tegs {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    .list-tegs-link {
        padding: 4px 12px;
        margin: 0;
    }

    .list-tegs-item {
        margin: 41px -6px -6px 15px;
        line-height: 0;
    }
    .tegs-text {
        padding: 7px 12px;
    }

    .aside-theme {
        margin: 62px 0 0 27px;
    }

    .list-theme {
        margin: 24px 0 0 11px;
    }
    
    .products {
        width: 100%;
        margin-top: 36px;
    }
  
    .product {
        display: flex;
        flex-direction: column;
        margin-top: 16px;
        justify-content: center;
    }
    
    .product-img {
        width: 100%;
        margin: -1px 0 0px -1px;
    }

    .product-content {
        width: 100%;
        margin: 0;
        justify-content: center;
    }
  
    .product-description {
        margin: 5px 0 0px -15px;
    }

    .product-title {
        width: calc(100% - 35px);
        padding: 10px 10px 10px 30px;
        box-sizing: border-box;
        margin: -35px 2px 25px 0px;
    }

    .product-title-text {
        display: flex;
        justify-content: center;
    }

    .product-title-text::after {
        margin: 11px auto 0;
    }

    .subtitle {
        margin: 41px 0 0 -15px;
        font-size: 17px;
    }


    .product-footer {
        margin: 20px 11px 14px -15px;
    }

    .product-prices {
        margin-bottom: 0;
    }

    .product-price-new {
        margin: 0 0 6px 0;
    }

    .product-price-old {
        margin: 0;
    }

    .product-button {
        margin: 0;
    }

    .footer {
        margin-top: 17px;
    }

    .footer-wrapper {
        width: calc(100% - 30px);
        margin: 0 auto;
    }

    .footer-address {
        margin: 0 0 15px;
    }
    
    .footer-bribbble {
        background-image: url(../svg/001-dribbble.svg);
        width: 19px;
        height: 19px;
    }
  
    .footer-pinterest {
        background-image: url(../svg/01-pinterest.svg);
        width: 19px;
        height: 19px;
    }
  
    .footer-tamblr {
        background-image: url(../svg/003-tumblr.svg);
        width: 19px;
        height: 19px;
        margin: 0;
    }
    
    .popup {
        top: 8%;
        left: 0%;
        margin-left: -11px;
        margin-top: 4px;
    }

    .popup-content {
        width: 271px;
        height: 484px;
        border: 1px solid #000000;
        padding: 30px 30px;
        background-color: #ffffff;
        margin-top: 0;
        position: relative;
        margin-left: -5px;
    }

    .popup-close {
        right: 0px;
        top: -35px;
    }

    .popup-svg {
        width: 30px;
        height: 30px;
    }

    .popup-title {
        font-size: 16px;
        margin: -5px 2px 0 0;
    }

    .popup-title::after {
        margin-bottom: 27px;
    }

    .form-hint {
        margin-left: -6px;
    }

    .select {
        margin: 11px 0 4px -8px;
    }

    .form-arrows {
        width: 10px;
        height: 15px;
        margin-top: 30px;
        margin-left: -17px;
    }

    .radio-box {
        margin: 0;
    }

    .checkbox-group {
        margin: 13px 6px -4px -13px;
    }

    .checkbox:checked + .checked {
        background-size: 25px;
    }

    .radio-svg {
        width: 25px;
        height: 25px;
        margin-right: 5px;
        margin-bottom: 10px;
    }

    .textarea {
        margin: 12px 0px -5px -5px;
    }

    .button-form {
        margin-top: 31px;
        margin-left: -6px;
        width: 103%;
        height: 48px;
     
    }
}

  @media (max-width: 640px) and (orientation: landscape) {
    .trend-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .title-content {
        width: 100%;
        padding: 25px 10px 0;
        margin: 50px 15px 15px;

    }

    .trend-content {
        min-height: auto;
        width: calc((100% / 2) - 2px);
    }

    .gallery-text {
        margin: 0;
        padding: 0;
    }

  }